<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Cocktail</title>
</head>

<body>
    <h1>Cocktails</h1>
    <p><%= all%></p>
    <ul>
        <% if (alcohol == 'gin') { %>
        <% for (let i = 0; i < cocktail.length; i++) { %>
        <li>
            <%= cocktail[i].name %>
            <%= cocktail[i].price %>
            <%= cocktail[i].contains %>
            <%= cocktail[i].isAlcoholic %>
        </li>
        <% }} else { %>
        <li>'Yolo'</li>
        <li>'Nicht yolo'</li>
        <% } %>

    </ul>
</body>

</html>