<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <link href="../static/styles.css" type="text/css" rel="stylesheet">
    <title>Cocktail</title>
</head>

<body>
    <h1>Cocktails</h1>
    <a href="http://localhost:3000/">All</a>
    <!-- <% for (let i = 0; i < all.length; i++) { %>
    <% let currentAlcohol = all[i] %>
    <% let currentLink = 'http://localhost:3000' %>
    <% currentLink += currentAlcohol %>
    <a href=<%= currentLink %> <%= all[i] %> </a> <% } %>  -->
    <a href="http://localhost:3000/?alcohol=gin"><%= all[0] %></a>
    <a href="http://localhost:3000/?alcohol=vodka"><%= all[1] %></a>
    <a href="http://localhost:3000/?alcohol=rum"><%= all[2] %></a>
    <a href="http://localhost:3000/?alcohol=tequila"><%= all[3] %></a>
    <table id='menu'>
        <tr>
            <th>name</th>
            <th>price</th>
        </tr>
        <% for (let i = 0; i < cocktail.length; i++) { %>
        <tr>
            <td class="cocktail_main">
                <p class="inline" id="bold">
                    <%= cocktail[i].name %>
                    <% if (cocktail[i].isAlcoholic) { %>
                    <% } else { %>
                    <p class="inline">

                        (non-alcoholic)
                    </p>
                    <% } %>
                </p>
                <p>

                    <%= cocktail[i].contains %>
                </p>
            </td>
            <td id='price'>
                <%= cocktail[i].price %>
            </td>
        </tr>
        <% } %>

    </table>
</body>

</html>